<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahariaz.smartsalah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSalah"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity2"
            android:exported="true">

        </activity>
        <activity
            android:name=".forgive_duas"
            android:exported="false" />
        <activity
            android:name=".job_duas"
            android:exported="false" />
        <activity
            android:name=".illness_duas"
            android:exported="false" />
        <activity
            android:name=".morning_duas"
            android:exported="false" />
        <activity
            android:name=".salah_duas"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Supplications"
            android:exported="true">

        </activity>
        <activity
            android:name=".SalahTimings"
            android:exported="false" />
        <activity
            android:name=".Highlights"
            android:exported="true">

        </activity>
        <activity
            android:name=".WhatDp"
            android:exported="false" />
        <activity
            android:name=".WhatAge"
            android:exported="false" />
        <activity
            android:name=".WhatHeight"
            android:exported="false" />
        <activity
            android:name=".WhatGender"
            android:exported="false" />
        <activity
            android:name=".BaseForFragment"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <activity
            android:name=".Salah_stats_history"
            android:exported="false" />
        <activity
            android:name=".Calender"
            android:exported="true" />
        <activity
            android:name=".Salah_Rakah_Selection"
            android:exported="true" />
        <activity
            android:name=".SalahProgress"
            android:exported="true"></activity>
        <activity
            android:name=".ViewSalah"
            android:exported="true">

        </activity>
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".change_pass"
            android:exported="true" />
        <activity
            android:name=".signUp"
            android:exported="true">

        </activity>
        <activity
            android:name=".login"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>